@page "/Consultar_Curso"

<EditForm Model="curso" OnValidSubmit="Buscar">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="card">


        <div class="card-header">
            <h3>Consulta</h3>
        </div>

        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">
                    <div class="flex-fill mx-2">
                        <label>Filtro</label>
                        <select class="form-control col-2" @bind="Filtro">
                            <option value="0"></option>
                            <option value="1">Id</option>
                            <option value="2">Nombre</option>
                        </select>

                    </div>



                    <div class="flex-fill mx-2">
                        <label>Criterio</label>
                        <input type="text" class="form-control" @bind="Criterio" />
                    </div>

                    <button type="button" class="btn btn-warning" @onclick="Buscar">
                        <i class="oi oi-magnifying-glass mr-2" /> Buscar
                    </button>
                </div>

            </form>
        </div>


        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>Curso Id</th>
                    <th>Descripcion</th>
                    <th>Vista <span class="oi oi-eye"></span> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.CursoId</td>
                        <td>@item.Descripcion</td>
                        <td><a class="btn btn-sm btn-outline-primary oi oi-eye" href="R_Curso/@item.CursoId">Ver</a></td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>



</EditForm>

@code {
     
     public Curso curso {set;get;}= new Curso();
    
     public List<Curso > lista { get; set; } = new List<Curso>();
     [Inject]
    public CursoBLL cursoBLL { get; set; }

    public string? Filtro { get; set; }
    public string? Criterio { get; set; }
    public void Buscar()
    {
        lista =cursoBLL.GeLista();


        if (Criterio != null)

        {

            switch (Filtro)

            {

                case "0":

                    lista =cursoBLL.GeLista();

                    break;

                case "1":


                    lista =cursoBLL.GetList(l => l.CursoId.ToString() == (Criterio));


                    break;


                case "2":

                    lista=cursoBLL.GetList(l => l.Descripcion.ToLower().Contains(Criterio.ToLower()));
                    break;



                 





            }

        }

        else

        {

            lista =cursoBLL.GetList(t => true);

        }



    }



}